@charset "UTF-8";
/* easeOutExpo */
/* easeInOutExpo */
/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
HELPERS
––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
TYPOGRAPHY
––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––
GLOBAL STYLES
––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  height: 100%;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  color: #1e2429;
  font-weight: 400;
}

#main {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

section {
  padding: 30px 0;
}

.row {
  display: flex;
  align-items: center;
}

.col-25 {
  width: 25%;
  float: left;
  text-align: center;
}
.col-25 img {
  display: inline-block;
  width: 100%;
  max-width: 200px;
}

.col-75 {
  width: 75%;
  float: left;
  padding-left: 30px;
}
.col-75 h3 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #1e2429;
  letter-spacing: -0.75px;
}
.col-75 h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #6d8395;
  letter-spacing: -0.75px;
}
.col-75 p {
  font-size: 16px;
  line-height: 26px;
  color: #999;
}

.btn_primary {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  border: none;
  border-radius: 8px;
  background: #e1e137;
  color: #1e2429;
  font-size: 20px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
.btn_primary:focus {
  outline: none;
}

header {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 120px;
  padding: 0 60px;
}
header .container {
  max-width: 1280px;
}
header .btn_primary {
  position: absolute;
  right: 0px;
  top: 35px;
  background: #1e2429;
  color: #e1e137;
}

.main-content {
  padding: 40px 0 100px 0;
}

h3.main-content_heading {
  padding: 30px 0 60px 0;
  font-size: 35px;
  line-height: 45px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -0.75px;
}

.green_text {
  color: #e1e137;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 600px;
  min-height: 600px;
  background: #ebebeb url(../img/drivers.png) no-repeat bottom center;
  color: white;
}
.hero .hero-copy {
  position: absolute;
  width: 100%;
  bottom: 310px;
  text-align: center;
}
.hero .hero-copy h2 {
  font-size: 42px;
  line-height: 52px;
  max-width: 650px;
  margin: 0 auto 0 auto;
  color: #1e2429;
  letter-spacing: -0.75px;
}
.hero .hero-copy img {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.contact-form {
  padding: 140px 0;
  background: #1e2429;
  text-align: center;
}
.contact-form h3 {
  font-size: 30px;
  line-height: 40px;
  max-width: 800px;
  margin: 0 auto 0 auto;
  color: white;
  letter-spacing: -0.75px;
}
.contact-form form {
  width: 100%;
  max-width: 650px;
  margin: 40px auto 0 auto;
}
.contact-form .field {
  width: 100%;
  margin: 10px 0;
}
.contact-form .field input {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: white;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.contact-form .field input:focus {
  outline: none;
}
.contact-form .btn_primary {
  font-size: 22px;
  height: 60px;
  line-height: 60px;
  padding: 0 50px;
  background: #e1e137;
  margin-top: 30px;
}

.btn-large .row {
  display: block;
  text-align: center;
}
.btn-large .btn_primary {
  font-size: 22px;
  height: 60px;
  line-height: 60px;
  padding: 0 50px;
}

/*# sourceMappingURL=main.css.map */
