/* easeOutExpo */
/* easeInOutExpo */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  color: #1e2429;
  font-weight: 400;
}

#main {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.main-content {
  padding: 40px 0 100px 0;
}

h3.main-content_heading {
  padding: 30px 0 60px 0;
  font-size: 35px;
  line-height: 45px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -0.75px;
}

.green_text {
  color: #e1e137;
}

.btn_primary {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  border: none;
  border-radius: 8px;
  background: #e1e137;
  color: #1e2429;
  font-size: 20px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn_primary:focus {
  outline: none;
}
.btn_primary:hover {
  border-radius: 25px;
}

header {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 120px;
  padding: 0 60px;
  background: #1e2429;
}
header .container {
  max-width: 1280px;
}
header .btn_primary {
  position: absolute;
  right: 0px;
  top: 35px;
}
header .logo-mobile {
  display: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 700px;
  min-height: 700px;
  background: #f2f4f6 url(../img/drivers.png) no-repeat bottom center;
  color: white;
}
.hero .hero-copy {
  position: absolute;
  width: 100%;
  bottom: 310px;
  text-align: center;
}
.hero .hero-copy h2 {
  font-size: 42px;
  line-height: 52px;
  max-width: 750px;
  margin: 0 auto 0 auto;
  color: #1e2429;
  letter-spacing: -0.75px;
}
.hero .hero-copy img {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

section {
  padding: 60px 30px;
}
section .col-25 {
  width: 25%;
  padding: 0 20px;
  float: left;
  text-align: center;
}
section .col-25 img {
  display: inline-block;
  width: 100%;
  max-width: 200px;
}
section .col-75 {
  width: 75%;
  float: left;
  padding-left: 30px;
}
section .col-75 h3 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #1e2429;
  letter-spacing: -0.75px;
}
section .col-75 h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #6d8395;
  letter-spacing: -0.75px;
}
section .col-75 p {
  font-size: 16px;
  line-height: 26px;
  color: #999;
}
section:nth-child(odd) .col-25 {
  float: right;
}

.contact-form {
  padding: 140px 30px;
  background: #1e2429;
  text-align: center;
}
.contact-form h3 {
  font-size: 30px;
  line-height: 40px;
  max-width: 800px;
  margin: 0 auto 0 auto;
  color: white;
  letter-spacing: -0.75px;
}
.contact-form form {
  width: 100%;
  max-width: 650px;
  margin: 40px auto 0 auto;
}
.contact-form .field {
  width: 100%;
  margin: 10px 0;
}
.contact-form .field input {
  width: 100%;
  height: 60px;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  background: white;
  color: #1e2429;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.contact-form .field input:focus {
  outline: none;
}
.contact-form .select-style {
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 8px;
  color: #1e2429;
  overflow: hidden;
  background: white url(../img/chevron-down.png) no-repeat right 20px center;
}
.contact-form .select-style select {
  padding: 10px 20px;
  width: 100%;
  height: 60px;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contact-form .select-style select:focus {
  outline: none;
}
.contact-form ::-webkit-input-placeholder {
  color: #1e2429;
}
.contact-form ::-moz-placeholder {
  color: #1e2429;
}
.contact-form :-ms-input-placeholder {
  color: #1e2429;
}
.contact-form :-moz-placeholder {
  color: #1e2429;
}
.contact-form .btn_primary {
  font-size: 22px;
  height: 60px;
  line-height: 60px;
  padding: 0 50px;
  background: #e1e137;
  margin-top: 30px;
}

@media (max-width: 960px) {
  .hero {
    background-size: 110%;
  }
  .hero .hero-copy {
    padding: 0 30px;
    bottom: 280px;
  }
  .hero .hero-copy h2 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media (max-width: 600px) {
  header {
    padding: 0 30px;
  }

  .hero {
    max-height: 100%;
    min-height: 100%;
    background-size: 150%;
  }
  .hero .hero-copy {
    bottom: 250px;
  }
  .hero .hero-copy h2 {
    font-size: 30px;
    line-height: 40px;
  }

  section {
    padding: 20px 20px;
  }
  section .col-25 {
    width: 100%;
    margin-bottom: 10px;
  }
  section .col-25 img {
    max-width: 120px;
  }
  section .col-75 {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  section .col-75 h3 {
    font-size: 23px;
    line-height: 23px;
    margin-bottom: 10px;
  }
  section .col-75 h4 {
    font-size: 18px;
    line-height: 28px;
  }
  section .col-75 p {
    font-size: 15px;
    line-height: 25px;
  }
  section:nth-child(odd) .col-25 {
    float: left;
  }

  .contact-form {
    padding: 90px 20px;
  }
  .contact-form h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .contact-form .field input {
    height: 50px;
    padding: 10px 15px;
    font-size: 15px;
  }
  .contact-form .btn_primary {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
  }
}
@media (max-width: 480px) {
  header {
    padding: 0 20px;
    height: 100px;
  }
  header .btn_primary {
    font-size: 18px;
    top: 25px;
    padding: 0 15px;
  }
  header .logo {
    display: none;
  }
  header .logo-mobile {
    display: block;
  }

  .hero {
    background-size: 170%;
  }
  .hero .hero-copy {
    padding: 0 30px;
    bottom: 170px;
  }
  .hero .hero-copy h2 {
    font-size: 26px;
    line-height: 36px;
  }

  .main-content {
    padding: 20px 0 60px 0;
  }

  h3.main-content_heading {
    padding: 30px 0 15px 0;
    font-size: 25px;
    line-height: 35px;
  }
}

/*# sourceMappingURL=main.css.map */
